<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php"
  colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
  cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Testes do Projeto">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">App/</directory>
    </include>
    <exclude>
      <directory suffix=".php">App/Views/</directory>
      <directory suffix=".php">App/Widgets/</directory>
      <directory>App/Abstract/</directory>
    </exclude>
  </source>

  <php>
    <env name="APP_ENV" value="testing" />
  </php>
</phpunit>